<form action="" method="POST" class="add-post-form">
            <div class="post-title-container">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" maxlength="50" placeholder="The title is optional!">
            </div>

            <div class="post-message-container">
                <label for="message">Message:</label>
                <textarea name="message" id="message"  placeholder="Type the message you want the world to hear here!" required></textarea>
            </div>

            <button type="submit" class="post-message-btn">Post</button>
</form>