<div class="navbar">
  <ul class="left-icons">
    <li class="navbar-item"><a href="/">Home</a></li>
    <li class="navbar-item"><a href="clubs">clubs</a></li>
  </ul>
  <ul class="right-icons">
    <li class="navbar-item"><a href="signup">signup</a></li>
  </ul>
</div>
