<div class="navbar">
  <ul class="left-icons">
    <li class="navbar-item"><a href="/">Home</a></li>
    <li class="navbar-item"><a href="clubs">Clubs</a></li>
  </ul>
  <ul class="right-icons">
    <li class="navbar-item"><a href="login">Login </a> </li>
    <li class="navbar-item"><a href="signup">Signup</a></li>
  </ul>
</div>
