<div class="navbar">
  <ul class="left-icons">
    <li class="navbar-item"><a href="/" title="Home"><i data-lucide="home"></i></a></li>
    <li class="navbar-item"><a href="/clubs" title="Clubs"><i data-lucide="users"></i></a></li>
  </ul>
  <ul class="right-icons">
    <% if (currentUser) { %>
      <li class="navbar-item">
        <span><%= currentUser.first_name %></span>
        <a href="/logout" id="log-out" title="Log Out">
          <i data-lucide="log-out"></i>
        </a> 
      </li>
    <% } else { %>
      <li class="navbar-item">
        <a href="/login" title="Log in">
          <i data-lucide="key"></i>
        </a> 
      </li>
      <% } %>
  </ul>
</div>
