<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Clubs</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="content">
        <h1 class="greeting">Clubs</h1>
        <ul class="clubs-container">
            <% clubs.forEach(club => { %> 
                    <li class="club-card">
                        <div class="club-card-header">
                            <%= club.name %>
                        </div>
                        <div class="club-card-members">
                            <i data-lucide="users-round"></i> <%= club.size %>
                        </div>
                        <div class="club-card-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, dolorum?
                        </div>
                        <a href=<%-`/clubs/${club.id}/join`%>>
                            <button class="club-card-join-btn">Join</button>
                        </a>
                     </li>
            <% }) %>
        </ul>
    </div>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
</body>
</html>