<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./styles.css">
    <title>Members Only</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %> 
    <div class="content">
    <% if (locals.user) {%>
    <h1 class="greeting">Welcome back <%= user.first_name %></h1>
    <div class="club-message-container">
      <label for="club-message">Add a new message to -current-user-group-name-</label>  
      <form action="" method="POST">
        <textarea name="club-message" id="club-message"  placeholder=""></textarea>
        <button type="submit" class="post-message-btn">Post</button>
      </form>
      <div class="divider"></div>
      <%- include("./partials/loadAllPosts") %>
    <% } else {%>
        <h1 class="signup-link">Please <a href="login" title="log-in">login</a> to add a post</h1>
        <div class="divider"></div>
        <%- include("./partials/loadAllPosts") %>
    <% } %>
    </div>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
