<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./styles.css">
    <title>Members Only</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %> 
    <div class="content">
    <% if (locals.user) {%>
    <h1>Welcome back <%= user.first_name %></h1>
    <a href="/logout">Logout</a>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur praesentium necessitatibus ducimus beatae provident illo doloremque voluptatem quod, rem voluptatibus?</p>
    <% } else {%>
    <h1>Please login</h1>
    <ul class="posts-container">
      <% posts.forEach(post => { %>
          <li>
            <div class="post">
              <div class="post-header">
                <span class="post-author">****</span>
                posted on
                <span class="post-club-name">club-name</span>
              </div>
              <div class="post-content">
                <div class="post-message"><%= post.message %></div>
                <div class="post-timestamp"><%= `${post.date_posted.getMonth()}/${post.date_posted.getDate()}/${post.date_posted.getFullYear()}` %></div>
              </div>
            </div> 
          </li>
      <% }) %>
      <% } %>
    </ul>
    </div>
  </body>
</html>
