<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
  </head>
  <body>
    <h1>Index</h1>
    <ul>
      <li><a href="login">Login</a></li>
      <li><a href="signup">Sign Up</a></li>
      <li><a href="clubs">Clubs</a></li>
    </ul>
  </body>
</html>
