<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Members Only</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %> 
    <div class="content">
    <% if (currentUser) {%>
        <h1 class="greeting">Most Recent Posts</h1>
          <%  if (currentUser.club_id) {%>
            <%- include("./partials/createPost.ejs") %>
          <% } else {%>
            <p>Please join a <a href="/clubs">club</a> to create your first post!</p>
            <% } %>
      <div class="divider"></div>
      <%- include("./partials/loadAllPosts") %>
    <% } else {%>
            <h1 class="greeting">Please <a href="login" title="log in">login</a> to add a post</h1>
            <div class="divider"></div>
            <%- include("./partials/loadAllPosts") %>
    <% } %>
    </div>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
