<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css">
    <title>Login</title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <h1>Login</h1>
    <form action="/login" method="POST">
      <label for="username">Email</label>
      <input
        type="email"
        name="username"
        id="username"
        placeholder="test@test.com"
      />

      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="123456"
      />
      <button class="login-btn">Login</button>
    </form>
  </body>
</html>
