<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css">
    <title>Sign Up!</title>
  </head>
  <body>
    <%- include ("./partials/navbar.ejs") %>
    <div class="content">  
    <h1>Sign Up!</h1>
    <form action="" method="post" class="signup-form">
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" />

      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
      <button class="signup-btn submit-btn">Sign Up</button>
    </form>
    </div>
  </body>
</html>
